.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.error {
  padding: 10px;
  min-height: 50px;
  box-sizing: border-box;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #d32f2f;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}
