.root {
  padding: 24px;
  height: calc(100vh - 160px);

  border-radius: 8px;
  background-color: #ffffff;
  overflow: auto;
}

.title {
  margin: 0;
  padding-bottom: 12px;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #263238;

  border-bottom: 1px solid #c4c4c4;
}

.cases {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(388px, 1fr));
  gap: 16px;
  align-items: stretch;
  justify-items: center;
}
