.root {
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 5;

  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.title {
  padding: 6px 12px;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #4f4f4f;
  background: #b0bec5;

  border-radius: 4px 4px 0 0;
}

.menu {
  padding: 12px;

  border-radius: 0 0 4px 4px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 4px;

  .item {
    padding: 0 8px;

    font-family: "Open sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-transform: none;

    border-radius: 4px;
    color: #ffffff;
    background-color: #828282;

    &:disabled {
      background: #eceff1;
    }
    &:hover {
      background: #515b5f;
    }
  }
}
