.root {
  padding: 8px;
  height: 182px;
  box-sizing: border-box;

  background: #ffffff;
  border-radius: 0px 8px 8px 0px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;

  overflow: hidden;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.metric {
  margin: 0;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #263238;
}

.value {
  margin: 0;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #263238;
}
