# FEDOT
git+https://github.com/nccr-itmo/FEDOT.git@4ddd57682a68e961ff4ffe963c8a76d092a1e143

# Unique requirements
flask-socketio==5.0.1
Flask==1.1.1
flask-accepts==0.10.0
Flask-RESTful==0.3.7
flask-restplus==0.12.1
Flask-Script==2.0.6
marshmallow==3.2.0
Werkzeug==0.16.1
flask-restx==0.2.0
pytest-flask==1.1.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.5
oauthlib==3.0.1
pyOpenSSL==21.0.0
PyJWT==2.0.1
pydot==1.4.2
flask-cors==3.0.10
flask_pymongo==2.3.0
pytest_mongodb==2.2.0
dnspython==2.1.0
python-dotenv==0.19.0
itsdangerous==2.0.1
jinja2==3.0.0
requests-oauthlib==1.3.1
