.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  width: 18px;
  height: 18px;

  color: #263238;
}
.text {
  padding-left: 4px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;

  color: #263238;
}
