.formRoot {
  padding: 12px;
}

.titleRoot {
  padding: 6px 12px;

  border-radius: 4px 4px 0px 0px;
  background: #b0bec5;
}
.titleText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #4f4f4f;
}
