@keyframes bubbleNode {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.container {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  [id="graphSvg"] {
    display: block;
    width: 100%;
    height: 100%;
    // outline: 2px solid gold;
  }

  [class*="node"] rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  [class*="node"]:hover > rect {
    fill: #eba;
  }
  [class*="type-TK"] rect {
    fill: #00ffd0;
  }
  [class*="type-TK highlight"] rect {
    fill: #ffd000;
  }
  [class*="type-TOP"] circle {
    fill: #4a66c6;
  }
  [class*="type-NEW"] rect {
    fill: #eba;
  }

  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  [class*="edgePath"] path {
    stroke: #007dff;
    stroke-width: 4px;
    // fill-opacity: 0;
    fill: #007DFF;
  }
  // arrowheadStyle: "fill: #007DFF",

  [class*="edgePath highlight"] path {
    stroke: #ffd000;
    fill: #ffd000;
  }

  [class*="operator-C"] circle {
    cursor: default;
    fill: #4a66c6;
  }

  [class*="operator-C highlight"] circle {
    fill: #ffd000;
  }

  [class*="operator-M"] circle {
    cursor: default;
    fill: rgba(229, 92, 222, 0.95);
  }
  [class*="operator-M highlight"] circle {
    fill: #ffd000;
  }

  [class*="clusters"] rect {
    stroke: #263238;
    stroke-width: 1.5px;
  }
}

.contextMenu {
  stroke: #00557d;
  fill: #ffffff;
}

.menuEntry {
  cursor: pointer;
}

.menuEntry text {
  font-size: 12px;
  stroke: #00557d;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
