.root {
  padding: 8px;
  height: calc(100vh - 110px);
  box-sizing: border-box;

  border-radius: 8px;
  background: #ffffff;

  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.empty {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-align: center;

  color: #cfd8dc;
}

.tools {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 200;
  .button {
    padding: 0;

    color: #263238;
  }
}

.graph {
  flex: 1;

  [class~="history-graph"] {
    display: block;
    width: 100%;
    height: 100%;
    // outline: 2px solid gold;
  }

  [class*="node"] rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  [class*="node"]:hover > rect {
    fill: #eba;
  }
  [class*="type-TK"] rect {
    fill: #9de1f4;
  }
  [class*="type-TK highlight"] rect {
    fill: #ffd000;
  }
  [class*="type-TOP"] circle {
    fill: #4a66c6;
  }
  [class*="type-NEW"] rect {
    fill: #eba;
  }

  text {
    font-weight: 300;
    font-family: "Open sans";
    font-size: 14px;
  }

  [class*="edgePath"] path {
    stroke: #007dff;
    stroke-width: 4px;
    // fill-opacity: 0;
    fill: #007dff;
  }
  // arrowheadStyle: fill: #007DFF;

  [class*="edgePath highlight"] path {
    stroke: #ffd000;
    fill: #ffd000;
  }

  [class*="operator-C"] circle {
    cursor: default;
    fill: #b5f49d;
  }

  [class*="operator-C highlight"] circle {
    fill: #ffd000;
  }

  [class*="operator-M"] circle {
    cursor: default;
    fill: #db9df4;
  }
  [class*="operator-M highlight"] circle {
    fill: #ffd000;
  }

  [class*="operator-S"] circle {
    cursor: default;
    fill: #f4b09d;
  }

  [class*="operator-S highlight"] circle {
    fill: #ffd000;
  }

  [class*="clusters"] rect {
    stroke: #263238;
    stroke-width: 1.5px;
  }
}
