.buttonsContainer {
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonTexxt {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;

  color: #ffffff;
}
