.root {
  margin-top: 24px;

  padding: 16px 12px;

  border-radius: 8px;
  background: #e1e2e1;
}
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1px;

  color: #000000;
}
