.root {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #000000;
}
.data {
  margin-top: 10px;
  padding: 8px;
  height: 168px;

  background: #ffffff;
  border-radius: 0px 8px 8px 0px;

  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #263238;
    -webkit-box-shadow: inset 0 0 6px rgba(34, 60, 80, 0.2);
    background-color: #a6acb0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #263238;
  }
}

.metric {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #263238;
}

.value {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #263238;
}
