{% extends "base.html" %}

{% block content %}
<p>This is TEST</p>
<button onclick="ioClient.send('start_compose')">start compose</button>
<div id="models_list">

</div>

<script>
    ioClient = io();
    ioClient.on('connect', socket => {
        ioClient.send('hello world')
    });
    ioClient.on('message', msg => {
        console.log(msg);
        try {
            data = JSON.parse(msg)
            if (data){
                element = document.getElementById('models_list');
                for (key in data["chains"]) {
                    nodes = data["chains"][key] + ""
                    let p = document.createElement('p');
                    p.innerHTML = nodes;
                    element.append(p);
                }
            }
        }catch (e) {

        }
    });

</script>
{% endblock %}
