.root {
  width: 72px;
  height: 100vh;

  color: #ffffff;
  background: #263238;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.5s 1s ease-in-out;

  overflow: hidden;

  & *,
  *::before,
  *::after {
    transition: all 0.5s 1s ease-in-out;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  &:hover {
    width: 256px;
  }
}

.head {
  padding-block: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  padding-block: 12px;
  position: relative;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;

    .root:hover & {
      width: calc(100% - 2 * 48px);
      left: 48px;
    }
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.logo {
  margin-inline: auto;
  width: 40px;
  display: block;
}

.list {
  margin: 0;
  padding: 12px 0;

  list-style: none;
  display: flex;
  flex-direction: column;
}

.link {
  margin-block: 4px;
  padding: 4px 24px;

  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.15px;
  text-decoration: none;

  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;

  transition: background 0.5s ease-in-out, padding 0.5s 1s ease-in-out,
    gap 0.5s 1s ease-in-out;

  &.active {
    background: #4f5b62;
  }

  &.disabled {
    background: #eceff1;
    pointer-events: none;
  }

  &:hover {
    background: #b0bec5;
  }

  .root:hover & {
    padding-inline: 72px 48px;
    gap: 16px;
  }
}

.title {
  width: 0;
  visibility: hidden;
  opacity: 0;

  .root:hover & {
    width: auto;
    visibility: visible;
    opacity: 1;
  }
}
