@keyframes triangle-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7)
  }
  100% {
    transform: scale(1)

  }
}


.root {
  path {
    fill: #fff;
  }
  .triangleAnimation {
    animation: triangle-pulse 1s infinite ease;
  }
}
