.root {
  padding: 27px 55px 51px 55px;
  width: 566px;

  display: flex;
  flex-direction: column;
}
.title {
  padding-bottom: 24px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.1px;

  color: #000000;
}
.asGuest {
  width: 130px;
  &:hover {
    color: #b0bec5;
    cursor: pointer;
  }
}
.asGuestPosition {
  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
