.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    .text {
      color: #515b5f;
    }
  }
}

.text {
  padding-left: 8px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.15px;

  color: #263238;
}
