.card {
  padding: 8px;
  width: 370px;

  border-radius: 8px;
  background: #e0e0e0;
}

.titleAndButton {
  padding-top: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #263238;
}
.img {
  width: 370px;
  height: 109px;

  border-radius: 8px;
}
