.textFieldPosition {
  margin-top: 5px;
}
.buttonPosition {
  margin-top: 66px;
}
.error {
  font-size: 16px;
  line-height: 22px;

  color: #f8a98f;
}
.errorNone {
  color: #ffffff;
}
.errorPosition {
  display: flex;
  align-items: center;
  justify-content: center;
}
