@import "~opensans-npm-webfont";

body {
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1440px;

  background: #e5e5e5;

  font-family: "Open sans", sans-serif;
}

p {
  margin: 0;
}

body * {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #a6acb0;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #263238;
  }
}
