.root {
  padding: 8px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  background: #ffffff;

  position: relative;

  .icon {
    width: 24px;
    height: 24px;

    color: #263238;
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.text {
  padding-left: 4px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  text-decoration: none;

  color: #263238;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  margin-left: 20px;
  width: 1px;
  height: 24px;

  background: #c4c4c4;
}
