.root {
  margin-top: 8px;
  padding: 12px 23px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  background: #ffffff;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line {
  margin-left: 20px;
  width: 1px;
  height: 26px;

  background: #c4c4c4;
}
