.showcase {
  max-width: 1300px;
  padding: 24px;

  border-radius: 8px;
  background: #ffffff;
}

.selected {
  max-width: 400px;

  transition: all 3s;
}

.cardsArea {
  padding-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(388px, 1fr));
  grid-gap: 16px;
}

.cardsAreaItem {
  align-self: center;
  justify-self: center;
}
