.root {
  margin-top: 20px;
  padding: 8px;

  height: 88px;

  display: flex;
  align-items: center;

  border-radius: 8px;
  background: #ffffff;
}

.titleContainer {
  padding-left: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleText {
  padding-left: 12px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #263238;
}
