.root {
  padding: 24px;

  border-radius: 8px;
  background: #ffffff;

  .link {
    padding: 12px;
    min-width: 208px;
    box-sizing: border-box;

    font-family: "Open sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.15px;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    color: #ffffff;
    border-radius: 4px;
    background: #263238;

    display: block;

    &:hover {
      background: #515b5f;
    }
  }
}

.top {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 16px / 2));
  gap: 16px;
}

.paper {
  padding: 16px 20px;
}

.subtitle {
  margin: 0;

  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15px;

  color: #263238;
}

.chart {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .axis {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
  }

  .mark {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
  }

  .null {
    font-family: "Open sans";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;

    color: #cfd8dc;
  }
}
