@keyframes bubbleNode {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.root {
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  [id="graphSvg"] {
    display: flex;
    z-index: 2;
  }

  [class*="node"] rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  // [class*="node"] rect {
  //   animation: bubbleNode 1s ease-in-out;
  // }
  // [class*="label"] {
  //   animation: bubbleNode 1s ease-in-out;
  // }

  [class*="node"] circle {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  [class*="node"]:hover > rect {
    fill: #eba;
  }

  text {
    font-weight: 400;
    font-family: "Open sans";
    font-size: 14px;
    cursor: default;
  }

  [class*="edgePath"] path {
    stroke: #333;
    stroke-width: 2px;
    // cursor: pointer;
  }

  //[class*="path"]  {
  //  transition: all 1.2s ease-in;
  //}
}

.empty {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 24px;
  color: #cfd8dc;
}
